body {
    background-color: #33342D;
    color: #EEE;
    font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Verdana, Tahoma, sans-serif;
}

.slide-body p:first-child {
    margin-top: 0px;
}

h1, h2, h3 {
    color: #D2D8BA;
    padding-bottom: 5px;
    margin-bottom: 5px;
    border-bottom: 1px solid #D2D8BA;
}

pre {
    background-color: #000000;
}

h1 .hex {
    height: 24px;
    margin-right: 10px;
}

ul {
    color: #D2D8BA;
    list-style-image:url('/images/nodehexagon8.png');
}

q, blockquote {
    color: #D2D8BA;
}

#logo {
    margin-top: 100px;
    margin-bottom:20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #D2D8BA;
}

.center {
    text-align: center;
}

p, span {

}

.slide {
    width: 600px;
    height: 550px;
}

.userlogos {
     max-width:200px;
     margin:0 10px 10px 10px;
}

#url {
    font-weight:bold;
    color: white;
}

a {
    color: white;
}

a:visited {
    color: white;
}

.impress-not-supported .fallback-message {
    display: block;
}

.impress-not-supported .step {
    margin: 20px auto;
    opacity: 1;
    position: relative;
}

.fallback-message {
    padding: 10px 10px 0;
    font-family: sans-serif;
    line-height: 1.3;
    background: none repeat scroll 0 0 #EEDC94;
    border: 1px solid #E4C652;
    border-radius: 10px 10px 10px 10px;
    width: 600px;
    vertical-align: baseline;
    margin: 20px auto;
    display: none;
    color: #000000;
}

.fallback-message p {
    border: 0 none;
    padding: 0;
    margin: 0;
    vertical-align: baseline;
    margin-bottom: 10px;
}